body{
    background-color: lightseagreen;
}

h1{
    text-align:center;
    color:darkorange;
    padding : 1px ;
    margin: auto 100px;
    background-color : black;
    font-size: 100px;
    border : solid  5px;
    
}

ul,
ol,
h3
{
    margin:1px 90px;
    padding : 10px;
}

a{
    font-size: 15px;
    display: inline-block;
    margin: 3px;
    color: black;
    padding: 20px ;
    background-color :silver ;
    border: 3px solid black;
}

img{
    margin-left: 300px;
    border: 10px solid black;
}

h2,
h3{
    color:darkgoldenrod;
    border-bottom : solid black 5px
}